// Помощники
@import 'utils/parameters';// переменные
@import 'utils/mixins';//миксины scss

//Общее
@import 'main/stylesheet';// шрифты
@import 'main/reset'; // сброс стилей для кроссбраузерности
@import 'main/common'; // общие стили

// дальше можно писать все стили сайта в этот файл, или писать их в компонентах
.container{
   max-width: 1230px;
   padding: 0 1.5rem;
   margin: 0 auto;
  }


@import 'components/header';
