// переменные 
//GRID
//точки адаптива
$lg: 1400px;
$md: 1023px;
$sm: 767px;
$xs: 575px;


//Цвета макета
$c-primary: #214E41;//основной цвет макета
$c-secondary: #E3EEED;//дополнительный цвет макета
$c-text: #214E41;//основной цвет текста макета
$c-text2: #757575;//дополнительный цвет текста макета

// Рандомные переменные проекта


// Размер шрифта
$font-size-base: 10px;


// Шрифты
$body-font: 'Raleway', sans-serif;//основной
$headers-font: 'Roboto', sans-serif;//для заголовков
$secondary-font: 'Raleway', sans-serif;//дополнительный