/* COMMON STYLE */
html {
    background: #fff;
    color: $c-text;
    font-family: $body-font;
    font-size: $font-size-base;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.main {
    flex: 1 0 auto;
    padding-top: 47px;
}

.footer {
    flex: 0 0 auto;
}

a {
    color: $c-text;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        color: $c-primary;
        outline: none;
        text-decoration: none;
    }
}

img {
    vertical-align: bottom;
}

sup, 
small {
    font-size: 75%;
}

a, 
img, 
input, 
textarea, 
button {
    border: 0;
    background: rgba(0,0,0,0.0);
    transition: all 0.3s ease 0s;
}

input, 
textarea, 
select, 
button {
    outline: none;
}

input::placeholder {
    opacity: 1;
}


/* H1 - H6 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $headers-font;
    line-height: 1.2;
}


/* FORMS */
label {
    display: inline-block;
}

input[type="tel"],
input[type="text"], 
input[type="email"], 
input[type="password"], 
textarea {
    background: #fff;
    border: 1px solid #E8E8E8;
    display: inline-block;
    font-family: $body-font;
    font-size: 14px;
    padding: 0 15px;
    width: 100%;
    color: $c-text;
}
input[type="tel"]:focus,
input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus, 
textarea:focus {
    border-color: $c-primary;
}

textarea {
    resize: vertical;
    min-height: 217px;
}
textarea::placeholder {
    opacity: 1;
}

input[type="tel"]:focus::placeholder,
input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder,
input[type="password"]:focus::placeholder,
textarea:focus::placeholder {
    opacity: 0;
}


/* SELECT */
select {
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '...';
    /* for IE */
    -ms-appearance: none;
    appearance: none !important;
}

select::-ms-expand {
    display: none;
}

/* BUTTONS */
input[type="button"], 
input[type="submit"], 
input[type="reset"], 
button {
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
}

input[type="submit"]:hover, 
input[type="reset"]:hover, 
input[type="button"]:hover, 
button:hover {}
